html, 
body, 
div, 
span, 
object, 
iframe, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre, 
abbr, 
address, 
cite, 
code, 
del, 
dfn, 
em, 
img, 
ins, 
kbd, 
q, 
samp, 
small, 
strong, 
sub, 
sup, 
var, 
b, 
i, 
dl, 
dt, 
dd, 
ol, 
ul, 
li, 
fieldset, 
form, 
label, 
legend, 
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td, 
article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section, 
summary, 
time, 
mark, 
audio, 
video { 
	margin: 0pt; 
	padding: 0pt; 
	border: 0pt none; 
	outline: 0pt none; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: none repeat scroll 0% 0% transparent; 
}
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section { 
	display: block; 
}
ul { list-style: none outside none; }
a { margin: 0pt; padding: 0pt; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; text-decoration: none; }
body {
font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif; 
font-size: 12px; 
}
body, select, input, textarea { font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif; color: rgb(68, 68, 68); }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a:hover, a:active { outline: medium none; }
.hidden { display: none; visibility: hidden; }

body { 
	background: url('img/lamp.png') no-repeat scroll center top rgba(0,0,0,0); 
}

// ROUND
.apps{
	border: solid blue 1px;
	position:	absolute;
	left:		100px;
	bottom:		100px;
	width:		150px; 
	height:		100px;
}

.roundabout-holder {
	padding:0;
}

.roundabout-moveable-item {
	width: 150px;
	height: 100px;
    cursor: pointer;
	background-color: rgba(0,0,0,1);
	border: 1px solid rgba(0,0,0,1);
}

.roundabout-in-focus {  
	border: 2px solid rgba(0,0,0,0.9);
	box-shadow: 0 0 5px #000000;
} 

//AUDIO
#audio_widget{ 
	position:absolute; 
	right:24px; 
	bottom:70px;  
	width:200px; 
	height:205px;
	background: url('img/music-widget/MusicBG.png') no-repeat;
}

/* clock */

#clock_widget{ 
	position:absolute; 
	right:24px; 
	top:70px; 
	width:200px; 
	height:127px;
	background: url('img/flipclock/MIUIDIGI-black.png') no-repeat;
}

#clock_widget #txt{
	overflow : hidden;
	padding-left: 32px;
	padding-right:32px;
	padding-top:26px;
	height : 60px;
}

#clock_widget #txt1{
	overflow : hidden;
	clear:both;
	color: rgba(200,200,200,0.9);
	margin-left: 16px;
	margin-right: 16px;
	margin-top:10px;
}

#clock_widget #theme{ 
	position:absolute; 
	right:0; 
	top:0; 
	left:0;
	bottom:0;
	width:200px; 
	height:127px;
}

#clock_widget #txt #text{
	color : rgba(200,200,200,0.9);
	font-size:40px;
	text-shadow: 2px 2px 2px #888;
}

#clock_widget #txt1 #text{
	color : rgba(200,200,200,0.9);
	font-size:40px;
	text-shadow: 2px 2px 2px #888;
}

.shadowed {
	box-shadow: 0 0 5px #000000;
}
.username{
	font-weight : bold;
	font-size:32px;
	color:rgba(240,240,240,.7);
	height:34px;
	margin: 0;
	padding:0;
	text-shadow: 0 -1px 1px #3D0700;
}
.usertype{
	font-weight : bold;
	font-size:10px;
	color:rgba(240,240,240,.5);
	height:16px;
	margin: 0;
	padding:0;
}
.userdetails{
	position : absolute;
	right:10px;
	top:10px;
	left:310px;
	height:200px;
	background:rgba(0,0,0,0.4);
	box-shadow: 0 0 5px #000000;
	padding-left:6px;
}

.user_menu {
	height:132px;
	background:rgba(0,0,0,0.4);
	margin-top:4px;
	margin-left:-10px;
	margin-right:-10px;
	display : none;
}

.user_menu_toogle {
	height:12px;
	background:rgba(0,0,0,0.4);
	margin-top:6px;
	margin-left:-10px;
	margin-right:-10px;
	font-size: 10px;
	font-weight:bold;
	color:rgba(255,255,255,0.6);
	cursor: pointer;
}

input{
	width:100%;
	border-radius: 4px;
}

input:focus {
	box-shadow: 0 0 5px #ffffff;
	border: solid blue 1px;
}

button.webkit-badge {
    margin-top:10px;
    color: #ffffff;
    font-family: "hoefler text",georgia,serif;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    height: 32px;
    line-height: 1;
    padding: 0;
    text-align: center;
    text-shadow: 0 -1px 1px #3D0700;
    padding:4px 10px 4px 10px;
    cursor: pointer;
}

button.slick-black {
    margin-top:10px;
    margin-left: 4px;
    background-color: rgba(50, 50, 50, 0.9);
    background-image: -moz-linear-gradient(center top , rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 1px 0 rgba(135, 135, 135, 0.1) inset, -1px -1px 1px 0 rgba(135, 135, 135, 0.1) inset;
    color: #FFFFFF;
    font: lighter 14px/1 "helvetica neue",helvetica,arial,sans-serif;
    padding: 12px 0;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(255, 255, 255, 0.3);
    padding:4px 10px 4px 10px;
    cursor: pointer;
}
button.slick-black:hover {
    background-color: rgba(90, 90, 90, 0.9);
    cursor: pointer;
}
button.slick-black:active {
    background-color: rgba(30, 30, 30, 0.9);
    cursor: pointer;
}

a, a:active, a:visited { color: rgb(234, 234, 234); }
a:hover { color: rgb(255, 255, 255); }

.row, .full-width { width: 100%; float: left;}
.section { width: 1000px; margin: 0px auto; }
.one-of-two, .two-of-two { float: left; }

#header { width: 100%; background: url('img/header-line.png') repeat-x scroll left top transparent; }
#header-top { height: 32px; font-size: 11px; color: rgb(204, 204, 204); margin: padding: 8px 0pt 0pt; }
#header-text { width:200px; padding-left: 45px; font-weight:bold; font-size:20px; text-shadow: 1px 1px 0px rgb(0, 0, 0);}

#navigation { float:right; height:24px; background: rgba(0,0,0,0.4); box-shadow: 0 0 5px #000000; border-radius: 4px 4px 4px 4px; padding:2px 20px 4px 2px; }
#navigation ul { }
#navigation ul li { display: inline; }
#navigation ul li a { text-shadow: 1px 1px 0px rgb(0, 0, 0); }
#navigation ul li { float: left; margin: 0pt 0pt 0pt 10px; padding: 0pt 0pt 0pt 10px; border-left: 1px dotted rgb(65, 65, 65); }
#navigation ul li.first { border-left: medium none; }
#navigation ul ul { position: absolute; z-index: 100000; background-color: rgba(0, 0, 0, 0.4); padding: 6px 10px 8px; width: 150px; margin: 9px 0pt 0pt -10px; border-radius: 4px 4px 4px 4px; box-shadow: 0pt 0pt 5px rgb(0, 0, 0); }
#navigation ul ul li { width: 100%; float: left; margin: 0pt; padding: 0pt; border-left: medium none; }
#navigation ul ul li a { color: rgb(136, 136, 136); text-shadow: none; }
#navigation ul ul li a:hover { color: rgb(202, 202, 202); }

a.twitter { background: url('img/twitter.png') no-repeat scroll right center transparent; padding-right: 20px; }
a.facebook { background: url('img/facebook.png') no-repeat scroll right center transparent; padding-right: 20px; }

#logo { position:relative; height:200px; text-align:center; margin-top:15%;}

#login { position: absolute; bottom:20px; width: 100%; text-align:center; }

#carousel { margin: 25px 0pt 50px; }
#carousel img { box-shadow: 0pt 0pt 5px rgb(0, 0, 0); }
#carousel ul li { width: 300px; height: 200px; padding: 10px; }
#carousel .arrow { position: absolute; top: 0px; width: 310px; height: 373px; background: url('img/arrow.png') no-repeat scroll 0pt 0pt transparent; text-indent: -999px; cursor: pointer; }
#carousel .back { background-position: 0pt 0pt; top: -135px; left: 0pt; }
#carousel .back:hover { background-position: 0pt -373px; }
#carousel .forward { background-position: -310px 0pt; top: -135px; right: 0pt; }
#carousel .forward:hover { background-position: -310px -373px; }

iframe { background-color: #202020; width:100%; height:100%;}

a.thumbnail-frame { position: absolute; background: url('img/post-frame-carousel.png') repeat scroll 0pt 0pt transparent; width: 300px; height: 200px; }
a.thumbnail-frame:hover { background-position: 0pt -200px; }

.video-embed { margin: 0pt; padding: 10px 10px 7px; }

#footer { position:absolute; bottom:0; background: url('img/line.png') repeat-x scroll left top transparent; padding: 8px 0pt 40px; text-shadow: 1px 1px 0px rgb(0, 0, 0); font-size: 11px; color: rgb(153, 153, 153); }
footer { line-height: 20px; text-align: center; }
footer h3 { font-size: 11px; color: rgb(204, 204, 204); }
footer p a { color: rgb(204, 204, 204); }

#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0pt; left: 0pt; width: 40px; height: 480px; background-image: url('img/fancybox.png'); }
#fancybox-overlay { position: absolute; top: 0pt; left: 0pt; width: 100%; z-index: 1100; display: none;}
#fancybox-tmp { padding: 0pt; margin: 0pt; border: 0pt none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0pt; left: 0pt; padding: 20px; z-index: 1101; outline: medium none; display: none;}
#fancybox-outer { 
position: relative; width: 100%; height: 100%; 
background: none repeat scroll 0% 0% rgb(255, 255, 255);
border: solid #000000 1px;
box-shadow: 0pt 0pt 5px rgb(0, 0, 0);
}
#fancybox-content { width: 0pt; height: 0pt; outline: medium none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid rgb(255, 255, 255); background:rgba(0,0,0,0.9);}
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: url('img/fancybox.png') repeat scroll -40px 0px transparent; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background: url('img/blank.gif') repeat scroll 0% 0% transparent; z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url('img/fancybox.png'); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url('img/fancybox.png'); background-position: -40px -60px; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0pt; margin: 0pt; border: 0pt none; width: 20px; height: 20px; z-index: 1001; }
#fancybox-bg-n { top: -20px; left: 0pt; width: 100%; background-image: url('img/fancybox-x.png'); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('img/fancybox.png'); background-position: -40px -162px; }
#fancybox-bg-e { top: 0pt; right: -20px; height: 100%; background-image: url('img/fancybox-y.png'); background-position: -20px 0px; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('img/fancybox.png'); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0pt; width: 100%; background-image: url('img/fancybox-x.png'); background-position: 0px -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('img/fancybox.png'); background-position: -40px -142px; }
#fancybox-bg-w { top: 0pt; left: -20px; height: 100%; background-image: url('img/fancybox-y.png'); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('img/fancybox.png'); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }

div.sidebar-container-left {
    position:fixed;
    top:50%;
    left:0px;
    background-color:#000000;
    filter: alpha(opacity=87);
    -moz-opacity:0.87;
    opacity:0.87;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-box-shadow:0px 0px 20px #000;
    -webkit-box-shadow:0px 0px 20px #000;
    box-shadow:0px 0px 20px #000;
}

div.sidebar-container-right {
    position:fixed;
    top:50%;
    right:0px;
    background-color:#000000;
    filter: alpha(opacity=87);
    -moz-opacity:0.87;
    opacity:0.87;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-box-shadow:0px 0px 20px #000;
    -webkit-box-shadow:0px 0px 20px #000;
    box-shadow:0px 0px 20px #000;
}

div.sidebar-container-top {
    position:fixed;
    top:0px;
    left:50%;
    background-color:#000000;
    filter: alpha(opacity=87);
    -moz-opacity:0.87;
    opacity:0.87;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-box-shadow:0px 0px 20px #000;
    -webkit-box-shadow:0px 0px 20px #000;
    box-shadow:0px 0px 20px #000;
}

div.sidebar-container-bottom {
    position:fixed;
    bottom:0px;
    left:50%;
    background-color:#000000;
    filter: alpha(opacity=87);
    -moz-opacity:0.87;
    opacity:0.87;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-box-shadow:0px 0px 20px #000;
    -webkit-box-shadow:0px 0px 20px #000;
    box-shadow:0px 0px 20px #000;
}

div.sidebar-inject-left {
    position:absolute;
    background:url("img/inject-left.png") center no-repeat;
    top:0px;
    right:0px;
}

div.sidebar-inject-right {
    position:absolute;
    background:url("img/inject-right.png") center no-repeat;
    top:0px;
    left:0px;
}

div.sidebar-inject-top {
    position:absolute;
    background:url("img/inject-top.png") center no-repeat;
    bottom:0px;
    left:0px;
}

div.sidebar-inject-bottom {
    position:absolute;
    background:url("img/inject-bottom.png") center no-repeat;
    top:0px;
    right:0px;
}

div.sidebar-body {
    margin:20px;
    position:absolute;
    top:0px;
    left:0px;
    color:#FFFFFF;
}

ul.sidebar-menu {
    font-size:12pt;
    font-weight:bold;
    list-style:none;
    text-decoration:none;
    color:white;
}

ul.sidebar-menu li{
    line-height:1.5em;
}

.message {
                -webkit-background-size: 40px 40px;
                -moz-background-size: 40px 40px;
                background-size: 40px 40px;
                background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                to(transparent));
                background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 color: #fff;
                 padding: 15px;
                 text-shadow: 0 1px 0 rgba(0,0,0,.5);
                 -webkit-animation: animate-bg 5s linear infinite;
                 -moz-animation: animate-bg 5s linear infinite;
                 display : none;
                 z-index:1000000;
                 text-align: left;
                 height : 32px;
                 position:absolute;
                 left:120px;
                 bottom:64px;
                 right:120px;
                 border: solid 2px;
}

.success {
                 background-color: #4ea5cd;
                 border-color: #3b8eb5;
}

.error {
                 background-color: #de4343;
                 border-color: #c43d3d;
}

.warning {
                 background-color: #eaaf51;
                 border-color: #d99a36;
}

.info {
                 background-color: #61b832;
                 border-color: #55a12c;
}

.message h3 { margin: 0 0 5px 0; font-size:14px;  font-weight:bold;}

.message p { margin: 0; font-size:12px;}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

#stickynote {
    background: -moz-linear-gradient(center top , #FFEE66, #F5DA41, #F6EF97) repeat scroll 0 0 transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 50px;
    position: relative;
    text-shadow: 0 1px 0 #F6EF97;
    width: 250px;
}

#stickynote:after {
    -moz-transform: rotate(3deg);
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 3px;
    box-shadow: 0 0 10px #000000;
    content: "";
    display: block;
    height: 20%;
    opacity: 1;
    position: absolute;
    right: 10px;
    width: 90%;
    z-index: -1;
}

#stickynote:before {
    -moz-transform: rotate(-3deg);
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 3px;
    box-shadow: 0 0 10px #000000;
    content: "";
    display: block;
    height: 20%;
    left: 10px;
    opacity: 1;
    position: absolute;
    width: 90%;
    z-index: -1;
}

/* dock - top */
.dock {
	position: relative; 
	height: 60px; 
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 60px;
	background: url(images/dock-bg2.gif);
	padding-left: 20px;
}
a.dock-item {
	display: block;
	width: 320px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.dock-item span {
	display: none; 
	padding-left: 20px;
}

/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(images/dock-bg.gif);
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}

